<!--Show the game display-->
<style type="text/css" xmlns="http://www.w3.org/1999/html">
    h1 {color: blue;}
    h2 {color: blue; }
    h3 {color: #000000;}
    .makered {color:red; font-size: 20px;}
    h4 {color: black;font: "Courier New"; font-size: 16px;}
    h5 {color: red;font: "Courier New"; font-size: 22px;}
    li {color:red;font: "Courier New";font-size: 18px; font-weight: bold;}
    .btnbj {
        -moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
        -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
        box-shadow:inset 0px 1px 0px 0px #f5978e;
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
        background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
        background-color:#f24537;
        -webkit-border-top-left-radius:20px;
        -moz-border-radius-topleft:20px;
        border-top-left-radius:20px;
        -webkit-border-top-right-radius:20px;
        -moz-border-radius-topright:20px;
        border-top-right-radius:20px;
        -webkit-border-bottom-right-radius:20px;
        -moz-border-radius-bottomright:20px;
        border-bottom-right-radius:20px;
        -webkit-border-bottom-left-radius:20px;
        -moz-border-radius-bottomleft:20px;
        border-bottom-left-radius:20px;
        text-indent:0;
        border:1px solid #d02718;
        display:inline-block;
        color:#ffffff;
        font-family:Arial;
        font-size:17px;
        font-weight:bold;
        font-style:normal;
        height:28px;
        line-height:28px;
        width:82px;
        text-decoration:none;
        text-align:center;
        text-shadow:1px 1px 0px #810e05;
    }

    .btnbj:hover {
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
        background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
        background-color:#c62d1f;
    }.btnbj:active {
         position:relative;
         top:1px;
     }

    .Three-Dee{
        font-family: 'Courier New', cursive;
        line-height: 1em;
        color: red;
        font-weight:bold;
        font-size: 65px;
        text-shadow:0px 0px 0 rgb(206,206,206),1px 1px 0 rgb(168,168,168),2px 2px 0 rgb(129,129,129),3px 3px 0 rgb(90,90,90),4px 4px 0 rgb(52,52,52),5px 5px 0 rgb(13,13,13), 6px 6px 0 rgb(-26,-26,-26),7px 7px 6px rgba(0,0,0,0.45),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);}

</style>


<h2 class="Three-Dee">Welcome to Blackjack!</h2>
<h2 class="Three-Dee"><%= session[:username] %> vs. the House</h2>


<h3>At this time, here is where we stand: </h3>

<div class="well">
<h3>House's Hand:</h3>
  <% session[:house_hand].each_with_index do |card,i| %>
      <% if session[:whose_turn] == "player" && i == 0%>
          <img src='/images/cards/cover.jpg' class='card_image'>
          <% else %>
      <%= card_image(card) %>
          <% end %>
  <% end %>

<h4>The house has a total hand of <%= session[:house_hand_total] %>.</h4>
  <h4>House current status :   <%= @house_status %></h4>

</div>


<div class="well">
<h3>Player's Hand:</h3>
  <% session[:player_hand].each do |card| %>
      <%= card_image(card) %>
  <% end %>

<h4>You currently have a total hand of <%= session[:player_hand_total] %>.</h4>
<h4>Player current status :  <%= @player_status %></h4>
</div>

<div class="well">
<h5 ><%= @game_show_message %></h5>
</div>

<% if @hide_buttons != true %>
    <input class="btnbj" type="button" onclick="myHitFunction()" value=" Hit ">
    <input class="btnbj" type="button" onclick="myStandFunction()" value="Stand">
<% end %>

<% if @show_dealer_button %>
    <input class="btnbj" type="button" onclick="myDealerFunction()" value="Dealer's Turn">
<% end %>

<% if session[:game_over] == true %>
    <input class="btnbj" type="button" onclick="myPlayAgainFunction()" value="Click to play again">
<% end %>



<input class="btnbj" type="button" onclick="myQuitFunction()" value="Quit ">

<form id="HitForm" action="form_player_hit" method = "post">

</form>

<form id="StandForm" action="form_player_stand" method = "post">

</form>

<form id="QuitForm" action="form_player_quit" method = "post">

</form>

<form id="DealerForm" action="form_dealer_button" method = "post">

</form>

<form id="PlayAgainForm" action="form_playitagainsam" method = "post">

</form>

<script>
    function myHitFunction() {
        document.getElementById("HitForm").submit();
    }
</script>


<script>
    function myStandFunction() {
        document.getElementById("StandForm").submit();
    }
</script>

<script>
    function myQuitFunction() {
        document.getElementById("QuitForm").submit();
    }
</script>

<script>
    function myDealerFunction() {
        document.getElementById("DealerForm").submit();
    }
</script>
<script>
    function myPlayAgainFunction() {
        document.getElementById("PlayAgainForm").submit();
    }
</script>

